* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f0f2f5;
  }
  
  .main {
    width: 80%;
    margin: 8% auto;
    display: grid;
    align-items: center;
    justify-items: center;
    
  }
  
  .main .sub-main .image {
    width: 69%;
  }
  
  .main .sub-main .image img {
    width: 88%;
  }
  
  .main .sub-main h2 {
    color: black;
    font-weight: 100;
    margin: 8px 0 -12px;
    font-size: 28px;
  }
  
  .first-paragraph {
    font-size: 18px;
    margin-top: 21px;
    margin-left: 32px;
  }

  .main .contes {
    display: flex;
    margin-top: 30px;
  }

  .sub-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  form {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    position: relative;
    border-radius: 14px;
    padding: 20px;
  }
  
  form input {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 13px;
  }
  
  form input::placeholder {
    font-size: 17px;
    color: rgb(167, 167, 167);
    font-weight: 400;
  }
  
  
  form input[type="email"] + .text {
    display: none;
    font-size: 17px;
    width: 93%;
    height: 27px;
    margin-bottom: 0;
  } 

  button {
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
  }

  .login-btn {
    background-color: #2b77f2;
    width: 100%;
  }

  .create-btn {
    background-color: #32c755;
    width: 80%;
  }

  .horizontal-line {
    width: 95%;
  }

  .last-paragraph {
    margin-left: 50px;
  }

  span {
    font-weight: 500;
  }

  @media (max-width: 820px) {
    .sub-main {
      grid-template-columns: 1fr;
    }

    .first-paragraph {
      margin-top: -8px;
      width: 60%;
      text-align: center;
    }

    .main .sub-main .image {
      display: grid;
      place-items: center;
      width: 100%;
    }

    form {
      width: 100%;
      margin-top: 20px;
    }

    .last-paragraph {
      text-align: center;
    }
  }

  
  
  